{% extends 'base.html' %}

{% block head %}
<title>Temporada {{temporada_actual.nombre}} - {{ carrera.nombre }}</title>
{% load static %}
{% endblock head %}

{% block navbar %}
<li class="nav-item d-none d-lg-block">
  <a class="nav-link" href="{% url 'listar_jugadores' carrera.id %}"><span class="material-symbols-rounded">conditions</span></a>
</li>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">

      <div class="container-fluid">

        <div class="mt-4 p-3 p-md-4 mb-3 d-lg-flex align-items-center">
          <img src="{% static 'img/escudo.png' %}" alt="" width="60" height="60">
          <span class="fw-bold fs-1 ms-3" style="color: #14539a;">{{equipo_actual.nombre}}</span>
          <br><br>
          <button id="estadisticasBtn" type="button" class="btn btn-light ms-1 d-lg-none" style="color: #14539a;" data-toggle="modal" data-target="#estadisticasModal"><span class="material-symbols-rounded fw-bolder fs-2">query_stats</span></button>
          <a href="{% url 'listar_jugadores' carrera.id %}" class="btn btn-light text-dark ms-1 d-lg-none"><span class="material-symbols-rounded fw-bolder fs-2">conditions</span></a>
          <button id="agregarJugadorBtn" type="button" class="btn btn-light text-primary ms-1 ms-lg-auto " data-toggle="modal" data-target="#agregarJugadorModal"><span class="material-symbols-rounded fw-bolder fs-2">settings_accessibility</span></button>
          <button id="cambiarEquipoBtn" type="button" class="btn btn-light text-danger ms-1" data-toggle="modal" data-target="#cambiarEquipoModal"><span class="material-symbols-rounded fw-bolder fs-2">magic_exchange</span></button>
          <button id="pasarTemporadaBtn" type="button" class="btn btn-light text-success ms-1" data-toggle="modal" data-target="#pasarTemporadaModal"><span class="material-symbols-rounded fw-bolder fs-2">start</span></button>
        </div>
      
        <div class="p-3 p-md-4 mb-5">
          <h3 class="mb-5" style="color: #14539a;">Temporada {{temporada_actual.nombre}}</h3>
          <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 d-lg-none">
            {% for jugador in jugadores_ojeados %}
              <div class="col mb-3">
                  <a href="{% url 'jugador' jugador.jugador.id %}" class="text-decoration-none">
                    <div class="card p-3 bg-light shadow-sm border-0">
                      <div class="d-flex justify-content-center mb-2">
                        {% load static %}
                        <img src="{% static 'img/avatar.png' %}" alt="" width="100" height="100">
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <span class="fw-bolder ms-2 text-dark fs-5">{{jugador.posicion}}</span>
                        <span class="ms-2 text-secondary text-capitalize">{{jugador.jugador.nombre}} {{jugador.jugador.apellido}}</span>   
                      </div>
                      <div class="d-flex align-items-center mb-2">
                        <img src="{% static 'img/' %}{{jugador.jugador.nacionalidad.bandera}}" alt="" width="35" height="25" class="ms-2 rounded-1">
                        <span class="ms-2 text-secondary">{{jugador.jugador.nacionalidad.pais}}</span>
                      </div>           
                      <span class="fw-semibold ms-2 text-dark mb-2">Edad: <span class="text-secondary fw-light">{{jugador.edad}} años</span></span>
                      <span span class="fw-semibold ms-2 text-dark mb-2">Valor: <span class="fw-light">{{jugador.valor}}€</span></span>
                      <div class="d-flex">
                        <span class="fw-semibold ms-2 me-1 text-dark">Global: </span> <span class="badge
                                  {% if jugador.media >= 90  %} 
                                  bg-primary
                                  {% elif jugador.media < 90 and jugador.media >= 80 %} 
                                  bg-success
                                  {% elif jugador.media < 80 and jugador.media >= 70  %}
                                  bg-info
                                  {% elif jugador.media < 70 and jugador.media >= 60  %}
                                  bg-warning
                                  {% elif jugador.media <= 59  %}
                                  bg-danger
                                  {% endif %} text-wrap p-2">{{ jugador.media }}</span>
                      </div>
                    </div>
                  </a>
                
              </div>
            {%empty%}
              <h5 class="text-center fw-light">Aun no se han descubierto jugadores en este equipo</h5>
            {% endfor %}
          </div>
          <div class="list-group list-group-flush d-none d-lg-block">
            {% for jugador in jugadores_ojeados %}
                <a href="{% url 'jugador' jugador.jugador.id %}" class="list-group-item list-group-item-action bg-light">
                    <div class="d-lg-flex align-items-center p-2">
                      {% load static %}
                      <img src="{% static 'img/avatar.png' %}" alt="" width="45" height="45">
                      <span class="fw-bolder ms-2 text-dark fs-4">{{jugador.posicion}}</span>
                      <span class="fw-semibold ms-2 text-secondary text-capitalize">{{jugador.jugador.nombre}} {{jugador.jugador.apellido}}</span>
                      <span class="fw-semibold ms-2 text-secondary">({{jugador.edad}} años)</span>
                      <div class="d-flex align-items-center">
                        <img src="{% static 'img/' %}{{jugador.jugador.nacionalidad.bandera}}" alt="" width="35" height="25" class="ms-2 rounded-1">
                        <span class="ms-2 text-secondary">{{jugador.jugador.nacionalidad.pais}}</span>
                      </div> 
                      <span class="fw-semibold ms-2 text-dark">Valor de Mercado: <span class="fw-light">{{jugador.valor}}€</span></span>
                      <span class="fw-semibold ms-2 me-1 text-dark">Global: </span> <span class="badge
                                {% if jugador.media >= 90  %} 
                                bg-primary
                                {% elif jugador.media < 90 and jugador.media >= 80 %} 
                                bg-success
                                {% elif jugador.media < 80 and jugador.media >= 70  %}
                                bg-info
                                {% elif jugador.media < 70 and jugador.media >= 60  %}
                                bg-warning
                                {% elif jugador.media <= 59  %}
                                bg-danger
                                {% endif %} text-wrap p-2">{{ jugador.media }}</span>
                    </div>
                  </a>
            {%empty%}
            <h5 class="text-center fw-light">Aun no se han descubierto jugadores en este equipo</h5>
            {% endfor %}
          </div>
        </div>

      </div>    
    </div>
  
    <div class="col-3 d-none d-lg-block">
      <div class="container-fluid">

        <div class="container-fluid">
            <div class="mt-4 p-3">
              {% include 'contenedor_estadisticas.html' %}
            </div>
        </div>
    
      </div>
    </div>
  </div> 
</div> 

<!-- Modal Cambiar Equipo -->
<div class="modal fade" id="cambiarEquipoModal" tabindex="-1" role="dialog" aria-labelledby="cambiarEquipoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="cambiarEquipoModalLabel">Elegir Club</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'cambiar_equipo' carrera.id %}">
          {% csrf_token %}
          <select name="id_equipo" id="slect"  class="form-select mt-3 mb-3" required>
            <option value="">Equipo destino</option>
            {% for key, eq in equipos.items %}
              <optgroup label="{{key}}">
                {% for e in eq %}
                  <option value="{{e.id}}">{{e.nombre}}</option>
                {% endfor %}
              </optgroup>
            {% endfor %}
        </select>

          <div class="d-flex">
            <button type="submit" class="btn btn-light ms-auto fw-semibold" style="color: #14539a;">Ir al nuevo club</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Estadisticas -->
<div class="modal fade" id="estadisticasModal" tabindex="-1" role="dialog" aria-labelledby="estadisticasModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="estadisticasModalLabel"><span class="text-capitalize">{{carrera.nombre}}</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'contenedor_estadisticas.html' %}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Jugador Ojeado -->
<div class="modal fade" id="agregarJugadorModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="agregarJugadorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="agregarJugadorModalLabel">Nuevo Jugador Ojeado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'agregar_jugador_ojeado' carrera.id %}">
          {% csrf_token %}
          {{ form.as_p }}

          <label for="posiciones">Posiciones:</label>
          <select name="posiciones" id="posiciones" multiple>
            <option value="POR">POR</option>
            <option value="LD">LD</option>
            <option value="LI">LI</option>
            <option value="DFC">DFC</option>
            <option value="MCD">MCD</option>
            <option value="MC">MC</option>
            <option value="MI">MI</option>
            <option value="MD">MD</option>
            <option value="MCO">MCO</option>
            <option value="SD">SD</option>
            <option value="EI">EI</option>
            <option value="ED">ED</option>
            <option value="DC">DC</option>
          </select>
          <div class="d-flex mt-3">
            <button type="submit" class="btn btn-light ms-auto fw-semibold" style="color: #14539a;">Agregar Jugador</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pasar Temporada -->
<div class="modal fade" id="pasarTemporadaModal" aria-labelledby="pasarTemporadaModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="pasarTemporadaModalLabel">Pasar Temporada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'pasar_temporada' carrera.id %}">
          {% csrf_token %}
          {{tform.as_p}}

          <select name="id_equipo" id="slect"  class="form-select mt-3 mb-3" required>
            <option value="">Equipo de la Proxima Temporada</option>
            {% for key, eq in equipos.items %}
              <optgroup label="{{key}}">
                {% for e in eq %}
                  <option value="{{e.id}}" {% if e.nombre == equipo_actual.nombre  %}selected{% endif %}>{{e.nombre}}</option>
                {% endfor %}
              </optgroup>
            {% endfor %}
          </select>

          <div class="list-group list-group-flush mb-3">
            {% for jugador in  all_jugadores %}           
                <div class="list-group-item p-1">
                    <div class="d-flex align-items-center">
                      <span class="fw-bolder ms-2 text-dark">{{jugador.posicion}}</span>
                      <span class="fw-semibold ms-2 text-secondary">{{jugador.jugador.nombre}} {{jugador.jugador.apellido}}</span>
                      <img src="{% static 'img/' %}{{jugador.jugador.nacionalidad.bandera}}" alt="" width="30" height="20" class="ms-2 rounded-1">
                      <input type="number" class="form-control ms-auto me-2" style="width: 20%;" id="valorJugador{{jugador.jugador.id}}" name="valorJugador{{jugador.jugador.id}}" placeholder="Valor" value="{{jugador.valor}}" required>
                      <input type="number" class="form-control" style="width: 10%;" id="mediaJugador{{jugador.jugador.id}}" name="mediaJugador{{jugador.jugador.id}}" placeholder="Valor" value="{{jugador.media}}" required>
                    </div>
                </div>   
            {% endfor %}
        </div>

          <div class="d-flex">
            <button type="submit" class="btn btn-light ms-auto fw-semibold" style="color: #14539a;">Siguiente Temporada</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  new MultiSelectTag('posiciones');
    $(document).ready(function() {
        // Mostrar modal Pasar Temporada al hacer clic en el botón
        $('#pasarTemporadaBtn').click(function() {
          $('#pasarTemporadaModal').modal('show');
        });

        $('#cambiarEquipoBtn').click(function() {
          $('#cambiarEquipoModal').modal('show');
        });

        // Mostrar modal Estadisticas al hacer clic en el botón
        $('#estadisticasBtn').click(function() {
          $('#estadisticasModal').modal('show');
        });
    
        // Mostrar modal Agregar Jugador Ojeado al hacer clic en el botón
        $('#agregarJugadorBtn').click(function() {
          $('#agregarJugadorModal').modal('show');
        });

        $('#temporadaSelect').on('change', function() {
            // Obtener el formulario
            var form = $('#formulario');
            form.submit();
          });
      });
</script>
{% endblock js %}