{% extends 'base.html' %}

{% block head %}
<title>Jugador {{ jugador.nombre }} - Youth Academy</title>
{% endblock head %}


{% block content %}
<div class="container ">

  <div class="card border-0 shadow mb-5 mt-5">
    <div class="card-body">
      <div class="d-lg-flex align-items-center mb-3">
        {% load static %}
        <span class="fw-bolder text-dark fs-4 me-2">{{posiciones.first.posicion}}</span>
        <span class="fw-semibold text-uppercase text-secondary fs-4">{{ jugador.nombre }} {{ jugador.apellido }} ({{jugador.edad}} años)</span>
        <img src="{% static 'img/' %}{{jugador.nacionalidad.bandera}}" alt="" width="30" height="20" class="ms-2 rounded-1">
        <button id="traspasarJugadorBtn" type="button" class="btn btn-success ms-2 ms-lg-auto" data-toggle="modal" data-target="#traspasarJugadorModal"><span class="material-symbols-rounded">transfer_within_a_station</span></button>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <img src="{% static 'img/avatar.png' %}" alt="My image" style="width: 100%;" class="mb-3 mb-xl-0">
        </div>
        <div class="col-10">
          <p class="card-text"><span class="fw-bold">Posiciones: </span> {% for p in posiciones %} <span class="ms-1">{{p.posicion}}</span> {% endfor %}</p>
          <p class="card-text"><span class="fw-bold">Edad Debut:</span> {{ jugador.edad_descubrimiento }}</p>
          <p class="card-text"><span class="fw-bold">Primer Equipo:</span> {{ equipos_temporadas.first.equipo.nombre}}</p>
          <p class="card-text"><span class="fw-bold">Valor Inicial:</span> {{ jugador.valor_inicial }}€</p>      
        </div>
      </div>
      <div class="d-lg-flex justify-content-between mt-3 ps-lg-5 pe-5  align-items-center">
        <p class="card-text"><span class="fw-bold">Equipo Actual:</span> {{ equipos_temporadas.last.equipo.nombre}}</p>
        <p class="card-text"><span class="fw-bold">Valor de Mercado:</span> {{equipos_temporadas.last.valor}}€</p>
        <div class="d-flex">
          <p class="card-text"><span class="fw-bold me-1">Global:</span> <span class="badge 
            {% if jugador.media_descubrimiento >= 90  %} 
            bg-primary
            {% elif jugador.media_descubrimiento < 90 and jugador.media_descubrimiento >= 80 %} 
            bg-success
            {% elif jugador.media_descubrimiento < 80 and jugador.media_descubrimiento >= 70  %}
            bg-info
            {% elif jugador.media_descubrimiento < 70 and jugador.media_descubrimiento >= 60  %}
            bg-warning
            {% elif jugador.media_descubrimiento <= 59  %}
            bg-danger
            {% endif %} text-wrap p-3">{{ jugador.media_descubrimiento }}</span></p>
          <p class="card-text"><span class="fw-bold ms-2 me-1">-</span> <span class="badge 
            {% if equipos_temporadas.last.media >= 90  %} 
            bg-primary
            {% elif equipos_temporadas.last.media < 90 and equipos_temporadas.last.media >= 80 %} 
            bg-success
            {% elif equipos_temporadas.last.media < 80 and equipos_temporadas.last.media >= 70  %}
            bg-info
            {% elif equipos_temporadas.last.media < 70 and equipos_temporadas.last.media >= 60  %}
            bg-warning
            {% elif equipos_temporadas.last.media <= 59  %}
            bg-danger
            {% endif %} text-wrap p-3">{{ equipos_temporadas.last.media }}</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-md-5 pt-md-0">
    <table class="table">
      <thead>
        <tr>
          <th>Temporada</th>
          <th>Equipo</th>
          <th>Valor de Mercado</th>
          <th>Global</th>
        </tr>
      </thead>
      <tbody>
        {% for equipo_temporada in equipos_temporadas %}
        <tr>
          <th>{{ equipo_temporada.temporada.nombre }}</th>
          <td>{{ equipo_temporada.equipo.nombre }}</td>
          <td>{{ equipo_temporada.valor}}€</td>
          <td>{{ equipo_temporada.media }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Traspasar Jugador -->
<div class="modal fade" id="traspasarJugadorModal" tabindex="-1" role="dialog" aria-labelledby="traspasarJugadorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="traspasarJugadorModalLabel">Traspasar Jugador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'traspasar_jugador_ojeado' jugador_id=jugador.id carrera_id=carrera.id %}">
          {% csrf_token %}
          <select name="id_equipo" id="slect"  class="form-select mt-3 mb-3" required>
            <option value="">Equipo destino</option>
            {% for e in equipos %}
                <option value="{{e.id}}">{{e.nombre}} | {{e.liga}}</option>
            {% endfor %}
          </select>
          <div class="mb-3">
            <label for="valor" class="form-label">Valor actual:</label>
            <input type="number" class="form-control" id="valor" placeholder="Valor actual" name="valor" value="{{equipos_temporadas.last.valor}}">
          </div>
          <div class="mb-3">
            <label for="media" class="form-label">Global:</label>
            <input type="number" class="form-control" id="media" placeholder="Global" name="media"  value="{{equipos_temporadas.last.media}}">
          </div>
          <div class="d-flex">
            <button type="submit" class="btn btn-light ms-auto fw-semibold" style="color: #14539a;">Traspasar Jugador</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
      
      // Mostrar modal Traspasar Jugador al hacer clic en el botón
      $('#traspasarJugadorBtn').click(function() {
        $('#traspasarJugadorModal').modal('show');
      });

    });
</script>
{% endblock js %}
